*{
    margin: 0;
    padding: 0;
    font-family: 'Jua';
}



.nav-item{
    margin-right: 110px;
}
.nav-item a{
    text-decoration: none;
    color:black;
    font-size: 17px;
    font-weight: 500;
    float: center;
    border-radius: 5px;
    text-shadow: 1px 1px #000;
}
.active{
    background-color: #F89808;
}
.nav-item a:hover{
    color:#F89808;
    background-color: black;
}
.navbar-brand img{
    width: 50px;
    height: auto;
}

.welcome{
    font-family: 'Jua';
    font-size: 50px;
    text-align: center;
    padding-top: 30px;
    color: #000;
}
.taste{
    font-family: 'Jua';
    font-size: 120px;
    text-align: center;
    padding-top:55px;
    color: #000;
}

/* Menu's CSS */

.container{
    position: relative;
    text-align: left;
    color: #fff;
}
.banner-card{
    position: relative;
}
.banner-card img{
    max-width: 100%;
    max-height: auto;
}
.banner-text{
    position: absolute;
    top: 25%;
    color: #000;
    padding: 10px;
    font-size: 30px;
    font-weight: 500;
    text-shadow:
    -1px 0px 0px #fff,
    1px 0px 0px #fff,
    0px -1px 0px #fff,
    0px 1px 0px #fff;
}
.banner-card h1{
    text-align: center;
    margin-top: 10px;
    color: #000;
    font-weight: 300;
} 
.chicken1{
    background-color: #F89808;
    position: relative;
}
.chicken1 img{
    position: absolute;
    width: 50%;
    height: 30%;
    margin-left:60px;
    margin-top: 30px;
    padding: 10px;
    background-color: #000;
    border-radius: 5px;
}
.container h6{
    position: absolute;
    text-align: center;
    margin-top: 125px;
    margin-left: 50px;
    color: #000;
}
#banana{
    position: absolute;
    margin-top: 125px;
    margin-left: 80px;
    color: #000;
}
.chicken1 p{
    position: absolute;
    margin-top: 150px;
    margin-left: 135px;
    color: #000;
}

.quantity-field{
    height: 70px;
    width: 170px;
    margin: 40px;
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F89808;
    border: 1px solid #000;
    border-radius: 50px;
    position:absolute;
    top: 50%;
    
}
.quantity-field button{
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius:  50%;
    color: #F89808;
    background-color: #000;
    font-size: 40px;
    cursor: pointer;
    border: 1px solid #000;
    text-decoration: none;
    margin: 10px;
}

/* About_Us's CSS */

.design{
    margin-top: 20px;
    margin-right: 50px;
}
.design img{
    float:right;
    width: 25%;
    height: 150px;
    border-radius: 20px;  
}
.design h1{
    height: 140px;
    font-size: 130px;
    color: black;
    margin-left: 60px;
    
}
.second{
    width: 20%;
    height: 150px;
    border-radius: 20px;
    margin-left: 60px;

}
.second_design h1{
    display: inline;
    font-size: 130px;
    color: black;
    margin-left: 60px;
    position: absolute;
    
}
.second_design p{
    display: inline;
    font-size: 30px;
    color: black;
    position: absolute;
    margin-left: 60px;
    margin-top: 140px;
}
.three{
    display: inline;
    width: 20%;
    height: 45%;
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 60px;
    position: absolute;
}

.fourth_design img{
    width: 20%;
    height: 150px;
    border-radius: 20px;
    margin-left: 390px;
    margin-top: 170px;
    display: inline-block;
    position:absolute;
}
.fifth_design img{
    width: 20%;
    height: 150px;
    border-radius: 20px;
    margin-left: 750px;
    margin-top: 170px;
    display: inline-block;
    position: absolute;
}

/* Contact_Us's CSS */

.yellow_card{
    background-color: #F89808;
    width: 100%;
    height: 300px;
    margin-top: 400px;
    position: absolute;
}
.location{
    width: 65%;
    height: 400px;
    background-color: #000;
    border-radius: 10px;
    color: #F89808;
    margin-top: 200px;
    margin-left: 250px;
    position: absolute;
}

.contact_design h1{
    font-size: 60px;
    text-align: center;
    padding-top: 20px;
}
.container{
    display: flex;
    padding: 60px;
   
}
.box{
    width: 200px;
    padding: 20px;
    text-align: center;
    margin: 0 60px; /* Optional margin between boxes */
    background-color: #000;
}



/* Sign_in's CSS */


.signup-container {
    background-color: #3E3636;
    color: #F89808;
    padding: 70px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-align: right;
    position: relative;
    margin-top: 100px;
    margin-left: 500px;
}

.signup-container h2 {
    color: #F89808;
    text-align: center;
}
.login-link{
    margin-right: 10px;
}
.signup-form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.signup-form input{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 30px;
    text-align: center;
}

.form-group input{
    text-align: center;
}
.signup-btn {
    background-color: #F89808;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.signup-btn:hover {
    background-color: #000;
    color: #F89808;
}

.login-link {
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
}

.login-link:hover {
    text-decoration: underline;
    color: #F89808;
}
.icons{
    height: 40px;
    margin-bottom: 20px;
}
.icons svg{
    width: 40px;
    margin-left: 10px;
    
}
/* Cart's CSS */

.title h1{
    text-align: center;
    font-size: 80px;
    color: black;
    margin-top:20px ;
}

.my_cart{
    width: 50%;
    height: 400px;
    background-color: #F89808;
    border-radius: 15px;
    margin-top: 40px;
    margin-left: 350px;
}
.my_cart img{
    width: 200px;
    height: 150px;
    margin-top: 20px;
    margin-left: 250px;
}
.my_cart h1{
    text-align: center;
    font-size:50px ;
    color: black;
}
.my_cart h4{
    text-align: center;
    color: black;
    margin-top: 20px;
}
aside{
    flex: 100%;
    height: 200px;
}
@media(max-width:500px){
    nav,main,aside{
        flex:100%;
        height:200px;
    }
}


